<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="container text-center">
        <h1 class="fs-1">WELCOME TO CAMPSITE</h1>
        <p class="lead text-wrap fs-4">DESCRIBE</p>
    </div>

    <div class="container d-flex justify-content-centre align-items-centre mt-5">

    </div>