<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="class shadow">
                <div class="card-body">
                    <h5 class="card-title">REGISTER CAMPGROUND</h5>
                    <form action="/campgrounds" method="POST" novalidate class="validated-form"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="title">TITLE</label>
                            <input class="form-control" type="text" id="title" placeholder="Title"
                                name="campground[title]" required>
                            <div class="invalid-feedback">
                                Please enter the title.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">LOCATION</label>
                            <input class="form-control" type="text" id="location" placeholder="Location"
                                name="campground[location]" required>
                            <div class="invalid-feedback">
                                Please enter the location.
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                    <label class="form-label" for="image">IMAGE URL</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        <input class="form-control" type="text" id="image" placeholder="Image url"
                            name="campground[image]" required>
                        <div class="invalid-feedback">
                            Please enter the image url.
                        </div>
                    </div>
                </div> -->
                        <div class="input-group mb-3">
                            <label class="form-label" for="price">PRICE</label>
                            <div class="input-group">
                                <span class="input-group-text" id=" price-label">₹</span>
                                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                    aria-describedly="price-lebel" name="campground[price]" required>
                                <div class="invalid-feedback">
                                    Please enter the price.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">DESCRIPTION</label>
                            <textarea class="form-control" type="text" id="location" placeholder="Description"
                                name="campground[description]" required></textarea>
                            <div class="invalid-feedback">
                                Please enter the description.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="image">UPLOAD IMAGES</label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="image" name="image" multiple>
                                <label class="input-group-text" for="image">UPLOAD</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">ADD CAMPGROUND</button>
                        </div>
                    </form>
                    <a href="/campgrounds">ALL CAMPGROUNDS</a>
                </div>
            </div>
        </div>
    </div>