<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1564577160324-112d603f750f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NjR8OTA0NjU3OXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">LOGIN</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">USERNAME</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="invalid-feedback">
                                    Please enter the username.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">PASSWORD</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please enter the password.
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>