<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYb9HHGy8Xl9D2hC4qTr3RqwCDjel5I6KLQw&usqp=CAU"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">SIGN UP</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">USERNAME</label>
                                <input class="form-control" type="text" id="username" name="username" required
                                    autofocus>
                                <div class="invalid-feedback">
                                    Please enter the username.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">EMAIL</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="invalid-feedback">
                                    Please enter the email.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">PASSWORD</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please enter the password.
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">SIGN UP</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>